---
---
@import "minimal-mistakes";

.outer-class {
  max-width: 1100px; 
  margin: 0 auto; 
  overflow: visible !important;
}

.no-bullets .archive__item-excerpt ul {
  list-style-type: none !important;
  padding-left: 0 !important;
}

.archive__item-title {
  overflow: visible !important;
}

.wide-row .feature__item--left .archive__item-body {
  width: 900px !important;
}

.page__footer {
  margin: 0;
  height: 0;
  padding: 0;
}
